.restaurant {
  padding-bottom: 50px;

  &__text {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;

    &__title {
      font-family: 'Roboto';
      font-size: 36px;
      line-height: 42px;

      color: var(--text-color-title);
    }

    &__stars {
      display: flex;
      align-items: center;

      font-family: 'Roboto';
      font-size: 18px;
      line-height: 32px;
      color: var(--yellow);

      gap: 5px;
    }

    &__categories {
      font-family: 'Roboto';

      font-size: 18px;
      line-height: 32px;

      color: var(--text-color-secondary);
    }
  }
}
