:root {
  --primary-font: 'Roboto';

  --yellow: #ffc107;

  --background-transparent: rgba(0, 0, 0, 0.5);

  --box-shadow: rgba(0, 0, 0, 0.05);
  --border-bottom: rgba(163, 161, 161, 0.438);
}

:root[data-theme='light'] {
  --background-color: #ffffff;
  --background-color-secondary: #f5f5f5;

  --text-color-title: #000000;
  --text-color-main: #ffffff;
  --text-color-secondary: #8c8c8c;
  --text-color-disadable: #414040;

  --link: #8c8c8c;
  --link-active: #414040;

  --border-color: #d9d9d9;

  --primary: #1890ff;
}

:root[data-theme='dark'] {
  --background-color: #575757;
  --background-color-secondary: #3a3b3b;

  --text-color-title: #ffffff;
  --text-color-main: #ffffff;
  --text-color-secondary: #e3e1e1;
  --text-color-disadable: #8c8c8c;

  --link: #8c8c8c;
  --link-active: #e3e1e1;

  --border-color: #494949;

  --primary: #02cedc;
}
