.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 44px;
  padding-bottom: 40px;

  @media (max-width: 600px) {
    padding-bottom: 70px;
  }

  &__btns {
    display: flex;
    column-gap: 10px;

    @media (max-width: 400px) {
      column-gap: 4px;
    }
  }

  &__btn {
    @media (max-width: 400px) {
      padding: 4px 8px;
      border-radius: 10%;
      gap: 2px;
    }

    &-blue {
      background: #1890ff;
      color: white;
    }

    &-white {
      background: #ffffff;
      border: 1px solid #d9d9d9;
      color: #595959;
    }
  }
}
