.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid var(--border-bottom);

  &__price_container {
    display: flex;
    flex: 1 1 auto;
  }
  &__title {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: var(--text-color-title);
  }

  &__price {
    margin-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;

    color: var(--text-color-title);
  }

  &__btns {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      width: 100%;
      padding: 10px 0;
    }
  }

  &__quantity {
    display: flex;
    width: 40px;
    justify-content: center;
  }

  &__btn {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: var(--background-color);
  }
}
