@import './base/reset';
@import './base/fonts';
@import './base/variable';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: var(--background-color-secondary);
}
